*{
    margin:0px;
    padding:0px;
}

html,body {
    background: url("../images/login_bac.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

}
#td{ 
    font-color:green
}








































